<!DOCTYPE html>
<html>
  <head>
    <title>Gisthub</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link
      href="https://fonts.googleapis.com/css?family=Inter&display=swap"
      rel="stylesheet"
    >

    <%= render "layouts/app_defaults" %>
  </head>
  <body class='bg-gray-500 text-gray-100'>
    <%= render "layouts/header" if @current_user %>
    <main class='overflow-auto'>
      <%= yield %>
    </main>

  </body>
</html>
