<!DOCTYPE html>
<html>
  <head>
    <title>Gisthub</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= render "layouts/app_defaults" %>
  </head>
  <body class='bg-gray-500 text-main'>
    <%= render "layouts/header" %>
    <main class='overflow-auto'>
      <%= yield %>
    </main>

  </body>
</html>
